{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
     <!--favicon-img--> 
 <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
 <!--favicon-img-->
 <!--main css file should not be removed -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!--main css file-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
</head>
<body>
        <!--blog-->
        <div>
        <div class="blog-header"> Blogs</span>
            <span class ="header-caption"> My Latest <span class="color"> blog posts.</span></span></div>
            <div class="blog-content">
                    {% for postquery in object_list %} <!-- object list is in the database which ever thing we have posted there  -->
                 <div class="blogs">
                     <a href="{% url 'article' postquery.pk %}"> 
                     <div class="img">
                        <img src="{% static 'images/post-one.jpg' %}" alt="blog-one">
                        <div class="blog-date">8 May,20</div>
                     </div>

                     <div class="blog-text">
                        <!-- change this place when want to add the image changing feature -->
                         <h3>{{postquery.title }}</h3>
                         <small>{{ postquery.author }}[ {{ postquery.author.first_name }} {{ postquery.author.last_name }} ] - {{ postquery.author.email}} </small>
                         <p>      {{ postquery.body }}</p>
                              
                     </div></a>
                 </div>       
                 {%  endfor %}   
            </div>

               <div class="footer">
                <div class="footer-text">
                    <img src="{% static 'images/copyright.png' %} " alt="copyright-img" class="images" height="14px"> Krishna
                </div>
               </div>
        </div>
        <!--blog end-->
</body>
</html>
        {% for postquery in object_list %} <!-- object list is in the database which ever thing we have posted there  -->
        
        <li><a href=" ">
        {{postquery.title }} </a>   - {{ postquery.author }}[ {{ postquery.author.first_name }} {{ postquery.author.last_name }} ] - {{ postquery.author.email}} <br>
        </li>
        {{ postquery.body }}
        <br>
        {%  endfor %}
        </ul>
            